@import "../variables/variables.scss";

body {
    margin: 0 auto;
    padding: 0;
    font-size: 12px;
    max-width: 1280px;
    min-width: 800px;
    font-family: Tahoma, Helvetica, sans-serif;
    background-color: $background-color__body;
}

//accordeon
.accordeon-wrapp {
    padding: 10px;
    flex: 0 0 30%;
    color: $color__accordeon-wrapp;
    background-color: $background-color__accordeon-wrapp;
}

.accordeon-wrapp--inner {
    height: 100%;
    padding: 10px;
    box-sizing: border-box;
    background-color: $background-color__accordeon-wrapp--inner;
}

.accordeon-elements-holder {
    cursor: pointer;
    background-color: $background-color__accordeon-elements-holder;
}

.accordeon-element-header {
    padding: 12px;
    border-bottom: $border-bottom__accordeon-element-header;
}

.accordeon-text-holder {
    max-height: 0;
    overflow: hidden;
    transition: max-height .4s ease-out, padding .4s ease-out;
}

.accordeon-text-holder.active {
    max-height: 300px;
    padding: 10px 0;
    transition: max-height .4s ease-out, padding .4s ease-out;
}

.accordeon-text {
    margin-top: 10px;
}

//footer
.footer-container {
    display: flex;
    margin-top: 10px;
    padding: 16px 19px;
    color: $color__footer-container;
    background-color: $background-color__footer-container;
}

.footer-links-elements {
    display: flex;
    margin-left: auto;

    &>div {
        margin-left: 17px;
        text-decoration: underline;
        cursor: pointer;

        &:first-child {
            margin-left: 0;
        }
    }
}

.todos-wrapper,
.user-wrapper {
    display: flex;
}

.user-wrapper-name {
    padding-left: 5px;
}