$primary_color: #fff;

$background-color__body: $primary_color;

$color__accordeon-wrapp: $primary_color;
$background-color__accordeon-wrapp: #a3a3a3;

$background-color__accordeon-wrapp--inner: #515151;
$background-color__accordeon-elements-holder: #000;

$border-bottom__accordeon-element-header: 1px solid #515151;

$color__footer-container: #515151;
$background-color__footer-container: #ccc;